{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Добро пожаловать в мое электронное портфолио</h1>
      <p class="lead">Всем привет! Меня зовут Юрий Суздальский, я backend-разработчик с опытом работы в HTML, CSS, Python, SQL и Flask</p>
      <hr class="my-4">
      <p>Узнайте о моих проектах или свяжитесь со мной для получения дополнительной информации</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{{ url_for('projects') }}" role="button">Мои проекты</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('contact') }}" role="button">Связаться со мной</a>
      </p>
    </div>
  </div>
{% endblock %}
